

.login_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 75px 0px 75px 0px;
}

.card_login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: 506px;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 45px;
}

.card_login_content{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    background-color: #ffff;
}

.card_login_content button{
    margin: 10px auto 15px;
    background-color: #212529;
    border: 0px;
    border-radius: 15px;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    width: 378px;
    height: 45px;
}

.card_login_content input{
    margin: 10px auto 15px;
    background-color: #ffffff;
    border-color: #212529;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    width: 378px;
    height: 45px;
    color: #212529;
}

.card_login_content h1{
    font-size: 55px;
    font-weight: 800;
    margin-left: 0px;
    color: #212529;
}

.card_login_content p{
    font-size: 20px;
    font-weight: 600;
    padding: 0%;
}

#submit_connexion{
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
}

#choose_email{
    margin: 0px;
}

#choose_password{
    margin: 0px
}